button{
    font-size: 16px;
    padding: 10px;
    align-self:center;
    float: none;
}

li {
    float: left;
    text-align: center;
}





.form{
    border: 3px solid green;
    width: 100%;
    text-align: center;
    color: green;

    padding: 5px 20px;

}
.content{
  text-align: center;
  font-weight: bold;

}
input{
  padding: 10px;
  boder

}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
