button{
    font-size: 16px;
    padding: 10px;
    align-self:center;
    float: none;
}

li {
    float: left;
    text-align: center;
}





.form{
    width: 500px;
    max-width: 100%;
  
    padding: 25px 20px;

}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
